<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title> Caps your text</title>
</head>

<body>
    Your text: <br>
    <form method="get" action="/resultcaps">
        <textarea name=caps></textarea><br>
        <button type='submit'>Capitalize</button>
    </form>
</body>

</html>
--------------------------------------
INDEX NU
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title> Template is working</title>
</head>

<body>
    Capitalize>> <a href="/capitalize">Click Here</a>
</body>

</html>
--------------------
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="UTF-8">
    <title> CAPITALIZED!</title>
</head>

<body>
    Capitalized text is: <br>
    {{a}}
</body>

</html>
--------------------------------------------------------------