{% extends 'basic.html' %}
{% block title %}<title>Joker Friend</title>{% endblock %}
{% block body%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <marquee>
        <strong>Hi, this is Joker Friend, your virtual friend.</strong> Explore me and have an awesome day ahead! :) </marquee>
    
</div>
<div class="container">
    <div class="card-deck justify-content-center">
<!--
        <div class="card text-white  mb-3" style="max-width: 18rem; background-color: #212529">
            <div class="card-header">#1</div>
            <div class="card-body">
                <h5 class="card-title">Capitalize Text</h5>
                <p class="card-text">Enter your text and make it UPPERCASE with a single click.</p>
            </div>
            <div class="card-header">
                <a class="btn btn-outline-warning" href="/capitalize" role="button">Capitalize</a>
            </div>
        </div>
    -->

        <div class="card text-white mb-3" style="max-width: 18rem;background-color: #212529">
            <div class="card-header">#1</div>
            <div class="card-body">
                <h5 class="card-title">Shop</h5>
                <p class="card-text">Shop some cool products handcrafted by me !</p>
            </div>
            <div class="card-header"> <a class="btn btn-outline-warning" href="/shop" role="button">Shop Now</a>
            </div>
        </div>
        <div class="card text-white  mb-3" style="max-width: 18rem; background-color: #212529">
            <div class="card-header">#2</div>
            <div class="card-body">
                <h5 class="card-title">Blog</h5>
                <p class="card-text">Find some cool articles to read !</p>
            </div>
            <div class="card-header"> <a class="btn btn-outline-warning" href="/blog" role="button">Visit Blog</a> </div>
        </div>
        <div class="card text-white mb-3" style="max-width: 18rem; background-color: #212529">
            <div class="card-header">#3</div>
            <div class="card-body">
                <h5 class="card-title">Joker Friend : A Virtual Friend !</h5>
                <p class="card-text">Chat with Joker Friend and make your day awesome!</p>
            </div>
            <div class="card-header"> <a class="btn btn-outline-warning" href="/jokerfriend" role="button">Chat</a> </div>
        </div>
    </div>
</div>
{% endblock %}