{% extends 'jokerfriend/basic.html' %}
{% load staticfiles %}
{% block title %}<title>Joker Friend: A Virtual Friend</title>{% endblock %}


{% block body%}

    
        <div class="container">
            <h1 class="jumbotron-heading text-center my-3">Joker Friend : A Virtual Friend</h1>
            <p class="lead text-center">
                Chat with Joker Friend and make your day awesome!
            </p>
            
            <div class="row">
                <div class="col-sm-12 offset-xs-3">
                    <ul class="list-group chat-log js-chat-log" style="max-height:368px;">
                    </ul>
                    <div class=" container input-group input-group-lg my-3 fixed-bottom">
                        <input type="text" class="form-control mr-2 js-text" placeholder="Type something to begin..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning js-say" style="padding: .650rem 1.75rem;">Submit</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    

{% endblock %}

{% block javascript %}

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>
      var chatterbotUrl = '{% url "chatterbot" %}';
      var csrftoken = Cookies.get('csrftoken');

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      var $chatlog = $('.js-chat-log');
      var $input = $('.js-text');
      var $sayButton = $('.js-say');

      function createRow(text) {
        var $row = $('<li class="list-group-item"></li>');

        $row.text(text);
        $chatlog.append($row);
      }

      function submitInput() {
        var inputData = {
          'text': $input.val()
        }

        // Display the user's input on the web page
        createRow(inputData.text);

        var $submit = $.ajax({
          type: 'POST',
          url: chatterbotUrl,
          data: JSON.stringify(inputData),
          contentType: 'application/json'
        });

        $submit.done(function(statement) {
            createRow(statement.text);

            // Clear the input field
            $input.val('');

            // Scroll to the bottom of the chat interface
            $chatlog[0].scrollTop = $chatlog[0].scrollHeight;
        });

        $submit.fail(function() {
          // TODO: Handle errors
        });
      }

      $sayButton.click(function() {
        submitInput();
      });

      $input.keydown(function(event) {
        // Submit the input when the enter button is pressed
        if (event.keyCode == 13) {
          submitInput();
        }
      });
    </script>

 {% endblock %}